<!-- 

<h4>App Component (Parent)</h4>
<button class="btn btn-info" (click)="toggleComponent()">Toggle Component</button>

<br/>
<br/>
<button class="btn btn-info" (click)="sendDatatoChild()">Send data to child</button>

<br/>
<br/>
<input [(ngModel)]="tempInput" />
<hr/>



<app-life-cycle-hooks *ngIf="loadComponent" [tempParentInput]='tempInput' [childProp]='childProp'>
  This is TempParentInput = {{tempInput}}
</app-life-cycle-hooks>




<hr/> -->

<h1>asdfasdf</h1>
<app-viewencapsulation></app-viewencapsulation>

<router-outlet></router-outlet>
